<ion-header>
  <!--ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar-->
</ion-header>

<ion-content class="login-content" padding>
<img src="assets/svg/Neighborly_LoginCity.svg">
  <span *ngIf="!badVersion">
  <!--ion-row class="logo-row">
    <ion-col></ion-col>
  </ion-row-->
  <!--div class="login-box"-->
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Remember Me:</ion-label>
              <!--ion-checkbox color="dark" checked="false" name="rememberMe" [(ngModel)]="registerCredentials.rememberMe"></ion-checkbox-->
              <ion-checkbox color="dark" checked="false" name="rememberMe" [(ngModel)]="html_rememberMe"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button> 
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="register-btn" clear block (click)="gotoInvitation()">I have an invitation!</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="reset-btn" clear block (click)="forgotPassword()">Forgot your password?</button>
      </ion-col>
    </ion-row>
  </div>


  <div *ngIf="registerCredentials.email == 'will@android.com' 
          || registerCredentials.email == 'will@ios.com' 
          || registerCredentials.email == 'lbrockma@gmail.com'
          || registerCredentials.email == 'lbrockma34@gmail.com'
          || registerCredentials.email == 'leif@test.com'
          || registerCredentials.email == 'will@serve.com'
          || registerCredentials.email == 'MMMMPPP'">
    <button ion-button class="developer-btn" block clear (click)="goToDevMain()">Developer Main Menu</button>
  </div>

  </span>
  <span *ngIf="badVersion">
   <div class="badversion-parent">
     <div class="badversion-child">
       <div class="badversion-child-child">
       <p>Thank you so much for helping us test Neighborly here at Metropolitan Place. </p>
       <p> Unfortunately, the reason that you 
       are seeing this message is because the version of the program that you're running is too old. </p><p> I know, I know... you just installed it a short
       while ago.  However, because this is a test platform, we are still making changes to the database and its structure.  Therefore,
       every now and then we need to make sure that none of the previous versions are still adding moldy, yucky data to the database.</p>

       <p>The way to get rid of this message is to go to testflight or to the Google Play link and download the lastest version.</p>
       <p>Go ahead.  We'll wait.<p>

       <p>Again, thanks so much for helping!</p>
       </div>
     </div>
   </div>
 </span>


</ion-content>