// .md,
// .ios,
// .wp {

  //page-specific information here.
  page-landing {
    .background {
      background-color: green;
    }


    .button-inner {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -ms-flex-pack: center;
      /* justify-content: center; */
      width: 100%;
      height: 100%;
    }
    flex-left {
      -webkit-justify-content: flex-start;
    }
    flex-right {
      -webkit-justify-content: flex-end;
    }
    flex-center {
      -webkit-justify-content: center;
    }
    .icon {
      font-size: 2.2em;
    }
  }
//}
