<!--
  Generated template for the Landing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Welcome {{username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="mainbackground">
  
    <button ion-button block round  (click)="goToOffer()" [disabled]="!spot">
      <span class="flex-left">
        <img src='assets/img/parking_sign.png' style="max-width:40px;max-height:40px;width:auto;height:auto;float:left;padding-left:-1px;padding-right:3px">
      </span>
      <span class="flex-center">
        Offer My Spot
      </span>
      <span class="flex-right">
      </span>
    </button>
    <br>

    <button ion-button block round icon-left  (click)="goToOfferPending()" [disabled]="!spot">
      <span class="flex-left">
      <ion-icon style="text-align: left" name='clock'></ion-icon>
      </span>
      <span class="flex-center">
      Requests For Your Spot
      </span>
      <span class="flex-right">
      <ion-badge *ngIf="badges != '0'" id="notifications-badge" color="danger">{{badges}}</ion-badge>
      </span>
    </button>
    <br>

    <button ion-button block round color="secondary"  icon-left (click)="goToRequest()">
      <span class="flex-left">
        <ion-icon name='car'></ion-icon>
      </span>
      <span class="flex-center">
      Find a Spot
      </span>
      <span class="flex-right">
      </span>
    </button>
    <br>
    
    <button ion-button block round color="secondary"  icon-left (click)="goToRequestPending()">
      <span class="flex-left">
        <ion-icon name='create'></ion-icon>
      </span>
      <span class="flex-center">
      Requests You've Made
      </span>
      <span class="flex-right">
      </span>
    </button>
    <br>


    <button ion-button block round icon-left  color = "secondary"(click)="goToConversations()">
      <span class="flex-left">
        <ion-icon name='exit'></ion-icon>
      </span>
      <span class="flex-center">
        Chats
      </span>
      <span class="flex-right">
      </span>
    </button>
    <br>  

    <button ion-button block round icon-left color = "dark"  (click)="goToManagement()">
      <span class="flex-left">
        <ion-icon name='briefcase'></ion-icon>
      </span>
      <span class="flex-center">
        Account Management
      </span>
      <span class="flex-right">
      </span>
    </button>
    <br>

    <button ion-button block round icon-left  color = "dark"(click)="goToSettings()">
      <span class="flex-left">
        <ion-icon name='settings'></ion-icon>
      </span>
      <span class="flex-center">
        Settings
      </span>
      <span class="flex-right">
      </span>
    </button>
    <br>
    
    <button ion-button block round icon-left  color = "dark"(click)="about()">
      <span class="flex-left">
        <ion-icon name='paw'></ion-icon>
      </span>
      <span class="flex-center">
        About
      </span>
      <span class="flex-right">
      </span>
    </button>
    <br>

    <button ion-button block round icon-left  color = "danger"(click)="logOut()">
      <span class="flex-left">
        <ion-icon name='exit'></ion-icon>
      </span>
      <span class="flex-center">
        Logout
      </span>
      <span class="flex-right">
      </span>
    </button>
    <br> 
</ion-content>