<ion-header>
  <ion-navbar>
    <ion-title>
      Messaging
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list inset>
        <button ion-item *ngFor="let listItem of listItems" (click)="itemSelected(listItem)">
            {{ listItem.username }}
        </button>
    </ion-list>
    
</ion-content>

