<ion-header>
    <ion-navbar color="dark">
        <ion-title>PASSWORD RESET</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box" #signupSlider>
        <div class="login-title"> Enter the e-mail address you registered with and click submit
        </div>


        <form [formGroup]="emailForm">
            <!--p *ngIf="submitAttempt" style="color: #E6C17E; text-align: center;"> Enter the e-mail address you registered with and click "Send Reset Passcode". A six digit pin number will
                be sent to your e-mail address. Enter that pin number along with your new password and click "Submit
                New Password".
            </p-->
            <ion-row>
                <ion-col>
                    <ion-list inset>


                        <ion-item [class.invalid]="!emailForm.controls.email.valid && (emailForm.controls.email.touched || submitAttempt)">
                            <ion-input placeholder="Email (required)" formControlName="email" type="email" [(ngModel)]="resetInformation.email"></ion-input>
                        </ion-item>
                        <p *ngIf="!emailForm.controls.email.valid  && (emailForm.controls.email.touched || submitAttempt)">
                            Please enter a valid email.
                        </p>

                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>

                <ion-col class="signup-col">
                    <!--button ion-button class="submit-btn" full color="primary" (click)="sendResetPin()">Send Reset Passcode</button-->
                    <button [hidden]="validSubmission" ion-button class="submit-btn" full color="primary" (click)="sendResetPin()">Send Reset Email</button>
                    <button [hidden]="!validSubmission" ion-button class="submit-btn" full color="primary" (click)="gotoLogin()">Back to Login</button>
                </ion-col>

            </ion-row>
        </form>
    </div>
</ion-content>