<!--
  Generated template for the Offer page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Offering Your Spot!</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class = "mainbackground">

  <h4 style="text-align: center">Select time range you'd like to offer your spot below</h4>
  <p style="text-align: center">All times are in local (Chicago) time</p>
  <hr>
  <div class = "mainbackground" class = "box1-1">
  <ion-list *ngIf="event.startDate">
    <div class = "box1-2">
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" min={{pickerStartDate}} max={{pickerEndDate}} [(ngModel)]="event.startDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.startTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" min={{pickerStartDate}} max={{pickerEndDate}} [(ngModel)]="event.endDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.endTime"></ion-datetime>
    </ion-item>
    </div>
  </ion-list>
    <button ion-button round block class="submit-btn" (click)="checkvalues()">
      <ion-label>Enter</ion-label>
    </button>
  </div>



  <h4 style="text-align: center">Status of time periods previously made available</h4>
  <hr>
  <div [hidden]="!gotspots">
    <p style="text-align: center">Swipe left for more options</p>
    <ion-list class="frame">
      <ion-item-sliding *ngFor="let spot of offeredSpotsStream$;">
        <ion-item [ngClass]="{'open_spot' : spot.offer_status==1, 'pending_spot' : spot.offer_status==2, 'reserved_spot' : spot.offer_status==3}">
          <button ion-button item-right>  
            <ion-icon name="arrow-back"></ion-icon>
          </button>





          <h4>
            <strong>Start: </strong>{{ spot.offer_start | date:'EEE, MMM d, y' }} at {{ spot.offer_start | date:'shortTime'}}
            <br>
            <strong>End: </strong>{{ spot.offer_end | date:'EEE, MMM d, y' }} at {{ spot.offer_end | date:'shortTime'}}
          </h4>
          <!--button *ngIf="spot.offer_status!=1" ion-button item-right (click)="presentToast(spot.request_user)">  
            show toast
          </button>

          <button *ngIf="spot.offer_status!=1" ion-button item-right (click)="userpage(spot.request_user)">  
            show user page
          </button-->
          <h4 *ngIf = "spot.offer_status!=1">
            <strong>Request made by:</strong>{{spot.request_user}}
          </h4>

          <div ngSwitch="{{spot.offer_status}}">
            <h4 *ngSwitchCase="'1'"><strong>Status:</strong> Open</h4>
            <h4 *ngSwitchCase="'2'"><strong>Status:</strong> Pending</h4>
            <h4 *ngSwitchCase="'3'"><strong>Status:</strong> Reserved by {{spot.request_user}}</h4>
            <h4 *ngSwitchDefault></h4>
          </div>

        </ion-item>
        <ion-item-options side="right" ngSwitch="{{spot.offer_status}}">
          <span *ngSwitchCase="'1'">
          <button ion-button color="danger" (click)="deleteConfirm(spot)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
          </span>
          
          <!--button ion-button color="secondary" (click)="gotoOfferPendingPage()">
            <ion-icon name="clock"></ion-icon>
            Go To Offers<br>Pending/Confirmed Page
          </button-->
          <!--button ion-button color="primary" (click)="presentToast(spot.request_user)">
            <ion-icon name="trash"></ion-icon>
            show Toast
          </button-->
          <button *ngIf = "spot.offer_status!=1" ion-button color="primary" (click)="userpage(spot.request_user)">
            <ion-icon name="person"></ion-icon>  
            Show Requesting<br>User Info
          </button>
          
          <!--span *ngSwitchCase="'3'">
          <button  ion-button color="danger" (click)="deleteConfirm(spot)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
          </span-->
          <!--span *ngSwitchCase="'3'"-->
          <!--button *ngIf="spot.offer_status==3" ion-button color="secondary" (click)="gotoOfferPendingPage()">
            <ion-icon name="clock"></ion-icon>
            Go To Offers<br>Pending/Confirmed Page
          </button-->
          <!--button *ngIf="spot.offer_status==3" ion-button color="primary" (click)="presentToast(spot.request_user)">
            <ion-icon name="trash"></ion-icon>
            show Toast
          </button-->
          <!--button *ngIf="spot.offer_status==3" ion-button color="primary" (click)="userpage(spot.request_user)">
            <ion-icon name="person"></ion-icon>  
            Show Requesting<br>User Info
          </button-->
          <!--/span-->
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div [hidden]="gotspots">
    <i><p>You are not currently offering any spots for use.</p></i>
  </div>
</ion-content>