<ion-header>
  <ion-navbar>
    <ion-title>
      The Debug/testing screen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    Overview:
  </p>

  <p class="selectable">
    This page is intended to rapidly access the various screens of the app as well as provide an access point for new components to be listed during testing
  </p>


  <div>
    <button ion-button (click)="gotologin()">Normal flowpath -> Full test here</button>
  </div>

  <div>
    <button ion-button (click)="gotosignup()">Go directly to signup/register page</button>
  </div>

  <div>
    <button ion-button (click)="gotosendmessage()">Go directly to send message page</button>
  </div>

  <div>
    <button ion-button (click)="gotoconversations()">Go directly to conversation page</button>
  </div>

  <div>
    <button ion-button (click)="gotomap()">Go directly to map page</button>
  </div>

  <div>
    <button ion-button (click)="gotoimagemap()">Go directly to image map page</button>
  </div>

   <div>
    <button ion-button (click)="gotosvgmap()">Go directly to SVG map page</button>
  </div>

  <div>
    <button ion-button (click)="gotosvgzoom()">Go directly to SVG zoom page</button>
  </div>

    <div>
    <button ion-button (click)="gotoquery()">Go directly to cancellation query page</button>
  </div>

  <div>
    <button ion-button (click)="gotolanding()">Go directly to landing_old page</button>
  </div>

  <div>
    <button ion-button (click)="gotolanding2()">Go directly to landing2 page</button>
  </div>

  <div>
    <button ion-button (click)="gotosandbox()">Go directly to sandbox</button>
  </div>

  <div>
    <button ion-button (click)="gotologin_test()">Go directly to login-test</button>
  </div>

  <div>
    <button ion-button (click)="gotosignup_test()">Go directly to signup-test</button>
  </div>

  <div>
    <button ion-button (click)="gotoreset_test()">Go directly to reset-test</button>
  </div>

  <div>
    <button ion-button (click)="goto_test_push_notifications()">Go directly to Test_push_notification</button>
  </div>

</ion-content>