// .md,
// .ios,
// .wp {
      .backed {
     //background-color: green;
     background: url('../assets/svg/City.png');
     //background: green;
     background-size: 100%
    }

  //page-specific information here.
  page-landing2 {

  }
//}
