<!--
  Generated template for the TestPushNotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>test_push_notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <button ion-button (click)="sendNotification()">Send push to yourself</button>
    </div>

    <div>
      <button ion-button (click)="sendNotificationWillIos()">Send push to Will's Iphone</button>
  </div>

  <div>
    <button ion-button (click)="sendNotificationWillAndroid()">Send push to Will's Android</button>
</div>

</ion-content>
