<!--
  Generated template for the Map page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>map</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <div style="position: relative; left: 0; top: 0;" (tap)="tapEvent($event)"> 
    <img src = "assets/img/map.png" class="imgA1">
    <div *ngIf="togglepic">
      <img class="imgB1" src="http://placekitten.com/g/99/99">
    </div>
  </div>

  <div>
    <button ion-button (click)="picturetoggle()">toggle pic</button>
  </div>

<ion-card (tap)="tapEvent($event)">
    <ion-item>
      Tapped: {{tap}} times
    </ion-item>
  </ion-card>

  <ion-card (press)="pressEvent($event)">
    <ion-item>
      Pressed: {{press}} times
    </ion-item>
  </ion-card>

  <ion-card (pan)="panEvent($event)">
    <ion-item>
      Panned: {{pan}} times
    </ion-item>
  </ion-card>

  <ion-card (swipe)="swipeEvent($event)">
    <ion-item>
      Swiped: {{swipe}} times
    </ion-item>
  </ion-card>


</ion-content>
