page-requestPendingReseved {

.pending {
    border:2px solid #eaba1f;
    background: #fffbbf
}

.reserved {
    //border:2px solid #11ad45;
    //background: #bfffd4;
    border:2px solid #ad1145;
    background: #ffbfbf;
    color: #000000;
}

}
