<ion-header>
  <ion-navbar>
    <ion-title>Welcome {{username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Pending requests that you've made.</h4>
  <div [hidden]="totalPendingSpaces">
    <i><p>You have not made any spot requests that are pending</p></i>
  </div>
  <div [hidden]="!totalPendingSpaces">
    <h5>Slide to the left to cancel the request you've made.</h5>
    <ion-list>
      <ion-item-sliding *ngFor="let spot of pendingSpotsStream$; let i = index" [attr.data-index]="i">
        <ion-item class="pending">
          <button ion-button item-right>  
            <ion-icon name="arrow-back"></ion-icon>
          </button>
          <h4>
            <strong>Start: </strong>{{ spot._3_request_start | date:'EEE, MMMM d, y' }} at {{ spot._3_request_start | date:'shortTime'}}
          </h4>
          <h4>
            <strong>End: </strong>{{ spot._4_request_end | date:'EEE, MMMM d, y' }} at {{ spot._4_request_end | date:'shortTime'}}
          </h4>
          <h4>
            <strong>Request made to:</strong> {{spot.owner}}
          </h4>
          <h4>
            <strong>Spot Number: </strong> {{spot.spot}}
          </h4>

          <span *ngIf="num_garages > 1">
            <h4><strong>Garage: </strong>{{ spot.garage }}</h4>
          </span>
          <h4><strong>Building: </strong>{{ spot.building }}</h4>


        </ion-item>

        <ion-item-options side="right">
            <button ion-button color="primary" (click)="userpage(spot.owner)">
            <ion-icon name="person"></ion-icon>  
            Show Spot Owner Info
          </button>
          <button ion-button color="danger" (click)="showConfirmPendCancel(spot, i)">
            <ion-icon name="nuclear"></ion-icon>
            CANCEL
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <h4>Existing reservations in your name</h4>
  <div [hidden]="totalReservedSpaces">
    <i><p>You have no confirmations for spots you've requested.</p></i>
  </div>
  <div [hidden]="!totalReservedSpaces">
    <h5>Slide to the left to cancel reservation</h5>
    <ion-list>
      <ion-item-sliding *ngFor="let spot of reservedSpotsStream$; let i = index" [attr.data-index]="i">
        <ion-item class="reserved">
          <button ion-button item-right>  
            <ion-icon name="arrow-back"></ion-icon>
          </button>
          <h4>
            <strong>Start: </strong>{{ spot._3_request_start | date:'EEE, MMMM d, y' }} at {{ spot._3_request_start | date:'shortTime'}}
          </h4>
          <h4>
            <strong>End: </strong>{{ spot._4_request_end | date:'EEE, MMMM d, y' }} at {{ spot._4_request_end | date:'shortTime'}}
          </h4>
          <h4>
            <strong>Reserved from:</strong> {{spot.owner}}
          </h4>
          <h4>
            <strong>Spot Number:</strong> {{spot.spot}}
          </h4>
          <span *ngIf="num_garages > 1">
            <h4><strong>Garage: </strong>{{ spot.garage }}</h4>
          </span>
          <h4><strong>Building: </strong>{{ spot.building }}</h4>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="userpage(spot.owner)">
            <ion-icon name="person"></ion-icon>  
            Show Spot Owner Info
          </button>
          <button ion-button color="danger" (click)="showConfirmResCancel(spot, i)">
            <ion-icon name="nuclear"></ion-icon>
            CANCEL
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    </div>
</ion-content>