    <ion-header>
        <ion-navbar color="dark">
            <ion-title>NEW USER SIGNUP</ion-title>
        </ion-navbar>
    </ion-header>

    <ion-content class="login-content" padding>
        <div>
            <form [formGroup]="signUpForm">
                <ion-list inset>
                    <ion-item [class.invalid]="!signUpForm.controls.spot.valid && (signUpForm.controls.spot.dirty)">
                        <ion-input placeholder="Parking Spot Number" formControlName="spot" [(ngModel)]="registerCredentials.spot"></ion-input>
                    </ion-item>
                    <div *ngIf="!signUpForm.controls.spot.valid  && !signUpForm.controls.spot.pending && (signUpForm.controls.spot.dirty)">
                        <p>{{signUpForm.controls.spot.errors.my_error_text}}</p>
                    </div>
                </ion-list>
            </form>
        </div>
    </ion-content>